.newDiv{
    margin: 5px;
    height: 200px;
    background-color: aqua;
    text-align: center;
    font-size: larger;
}
/*This is the first version*/
/*This is the second version*/
/*This is the Third version*/
